In [1]:
import numpy as np
import pandas as pd

In [2]:
"""
None : Pyrhonc missing data
"""
arr1 =np.array([1,2,3,4])
print(arr1.dtype)

arr1.sum()

arr2= np.array([1,None,3,4])
print(arr2.dtype)

int64
object

In [3]:
"""
NaN: Missing Numerical Data
"""

arr3= np.array([1,np.nan,3,4])
print(arr3)

[ 1. nan  3.  4.]

In [4]:
arr3.sum()

nan

In [5]:
np.nansum(arr3)

8.0

In [6]:
np.min(arr3)
np.nanmin(arr3)

1.0

In [7]:
pd.Series([1,np.nan,2,None])

0    1.0
1    NaN
2    2.0
3    NaN
dtype: float64

In [10]:
"""
Deteting null values
"""

#insnull()

ser = pd.Series([1,np.nan,'hello',None])
print(ser)

0        1
1      NaN
2    hello
3     None
dtype: object

In [11]:
ser.isnull()

0    False
1     True
2    False
3     True
dtype: bool

In [13]:
ser.notnull()

0     True
1    False
2     True
3    False
dtype: bool

In [15]:
"""
Dropping null values
"""

#dropna

ser.dropna()

0        1
2    hello
dtype: object

In [17]:
#df.

df= pd.DataFrame([[1,np.nan,2],[2,3,5],[np.nan,4,6]])
print(df)

df.dropna()

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

     0    1  2
1  2.0  3.0  5

In [18]:
df[3]=np.nan
print(df)

#how=all

df.dropna(axis='columns', how ='all')

     0    1  2   3
0  1.0  NaN  2 NaN
1  2.0  3.0  5 NaN
2  NaN  4.0  6 NaN

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

In [19]:
"""
Filling Null Values
"""
ser =pd.Series([1,np.nan,2,None,3],index=list('abcde'))
ser

a    1.0
b    NaN
c    2.0
d    NaN
e    3.0
dtype: float64

In [20]:
ser.fillna(-999)

a      1.0
b   -999.0
c      2.0
d   -999.0
e      3.0
dtype: float64

In [21]:
#forward-fill = LOCF

ser.fillna(method='ffill')

a    1.0
b    1.0
c    2.0
d    2.0
e    3.0
dtype: float64

In [22]:
#backward-fill = NOCB

ser.fillna(method='bfill')

a    1.0
b    2.0
c    2.0
d    3.0
e    3.0
dtype: float64